{
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2022,
        "ecmaFeatures" : {
            "impliedStrict": true
        }
    },
    "plugins": ["node", "sonarjs"],
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "rules": {
        "arrow-spacing": ["warn"],
        "comma-spacing": ["warn"],
        "key-spacing": ["warn"],
        "keyword-spacing": ["warn"],
        "space-infix-ops": ["warn"],
        "object-shorthand": ["warn"],
        "space-before-blocks": ["warn", "always"],
        "block-spacing": ["warn"],
        "space-before-function-paren": ["warn", "never"],
        "padded-blocks": ["warn", "never"],
        "space-in-parens": ["warn", "never"],
        "array-bracket-spacing": ["warn"],
        "implicit-arrow-linebreak": ["warn", "beside"],
        "object-curly-spacing": ["warn", "always"],
        "array-bracket-newline": ["warn", "consistent"],
        "array-element-newline":["warn", "consistent"],
        "generator-star-spacing": ["warn"],
        "dot-location": ["warn", "property"],
        "switch-colon-spacing": "warn",
        "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }],
        "brace-style": ["warn", "1tbs", { "allowSingleLine": false }],
        "operator-linebreak": ["warn", "after"],
        "semi-spacing": ["warn"],
        "semi-style": ["warn"],
        "space-unary-ops": ["warn"],
        "computed-property-spacing": ["warn"],
        "func-call-spacing": ["warn"],
        "function-paren-newline": ["warn"],
        "indent": ["warn", "tab", { "SwitchCase": 1 } ],
        "linebreak-style": [ "error", "unix" ],
        "array-callback-return": [1, { "allowImplicit": true }],
        "no-console": 0,
        "block-scoped-var": 1,
        "comma-dangle": [2, "never"],
        "constructor-super": 2,
        "quotes": [0, "double"],
        "no-unused-vars": [1, {"vars": "all", "args": "none"}],
        "handle-callback-err": 1,
        "no-mixed-spaces-and-tabs": 2,
        "no-undef": 2,
        "for-direction": 2,
        "func-name-matching": 2,
        "guard-for-in": 2,
        "prefer-rest-params": 2,
        "prefer-spread": 2,
        "semi": [1, "always"],
        "no-array-constructor": 2,
        "no-class-assign": 2,
        "no-constant-condition": 2,
        "no-constructor-return": 2,
        "no-control-regex": 2,
        "no-delete-var": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-dupe-else-if": 2,
        "no-duplicate-imports": 2,
        "no-empty": 1,
        "no-extra-boolean-cast": 1,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 1,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 1,
        "no-obj-calls": 2,
        "no-new-require": 2,
        "no-this-before-super": 2,
        "no-prototype-builtins": 2,
        "no-restricted-syntax": 1,
        "no-return-assign": 1,
        "no-setter-return": 2,
        "no-spaced-func": 1,
        "no-useless-computed-key": 1,
        "no-async-promise-executor": 1,
        "no-multi-spaces": 1,
        "no-new-wrappers": 2,
        "no-nonoctal-decimal-escape": 1,
        "no-regex-spaces": 2,
        "no-sparse-arrays": 1,
        "no-unexpected-multiline": 1,
        "no-unreachable": 1,
        "no-unneeded-ternary": 1,
        "no-unsafe-optional-chaining": 1,
        "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
        "no-return-await": 2,
        "no-else-return": 2,
        "no-throw-literal": 1,
        "no-template-curly-in-string": 2,
        "no-use-before-define": ["error", { "functions": false }],
        "no-useless-escape": 2,
        "no-useless-return": 2,
        "no-whitespace-before-property": 1,
        "no-unmodified-loop-condition": 2,
        "nonblock-statement-body-position": ["error", "below"],
        "use-isnan": 1,
        "valid-typeof": 1,
        "wrap-regex": 1,
        "no-process-exit": 0,
        "require-atomic-updates": 0,
        "node/no-unpublished-require": 0,
        "node/no-extraneous-require": 0,
        "sonarjs/no-all-duplicated-branches": 2,
        "sonarjs/no-extra-arguments": 2,
        "sonarjs/no-identical-conditions": 2,
        "sonarjs/no-identical-expressions": 2,
        "sonarjs/no-one-iteration-loop": 2,
        "sonarjs/no-use-of-empty-return-value": 2,
        "sonarjs/no-useless-catch": 2,
        "sonarjs/no-redundant-boolean": 2,
        "sonarjs/no-inverted-boolean-check": 2,
        "sonarjs/no-element-overwrite": 2,
        "sonarjs/no-collection-size-mischeck": 2,
        "sonarjs/no-same-line-conditional": 2,
        "sonarjs/no-unused-collection": 2,
        "sonarjs/non-existent-operator": 2,
        "sonarjs/no-ignored-return": 2,
        "sonarjs/no-gratuitous-expressions": 2,
        "node/no-new-require": 1,
        "node/prefer-global/buffer": ["error", "always"],
        "node/prefer-global/console": ["error", "always"],
        "node/prefer-global/process": ["error", "always"],
        "node/prefer-global/url-search-params": ["error", "always"],
        "node/prefer-global/url": ["error", "always"],
        "node/no-unsupported-features/es-syntax": ["error", {"version": "18.16.1"}],
        "node/no-unsupported-features/es-builtins": ["error", {"version": "18.16.1"}],
        "node/no-unsupported-features/node-builtins": ["error", {"version": "18.16.1"}]
    }
}